* {
    color: rgb(84, 52, 16);
    font-family: 'Raleway', sans-serif;
}

.big-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4;
}

.row {
    margin: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f0f0f0;
}

.cat-listings {
    margin: 10px;
    padding: 5px;
}

.vertical-line {
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);;
}

#map {
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    button {
        display: block;
        width: 100%;
    }
    .big-title {
        font-size: 2rem;
        font-weight: 400;
    }
}
