<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neighborhood Map</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/lib/foundation.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <div class="top-bar map-title-bar" data-top-bar>
        <div class="top-bar-left">
          <div class="menu-text map-title">City of Raleigh Crime Map
          </div>
        </div>
        <div class="top-bar-right">
          <a data-open="exampleModal1" href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                      title="About">
            <img src="/image/about.png"
                 alt="info">
            </span>
          </a>
        </div>
      </div>
      <div class="tiny reveal" id="exampleModal1" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <i class="fa fa-window-close-o" aria-hidden="true"></i>
        </button>
        <br/>
        <h3>How to use</h3>
        <ul>
        <li class="lead">Location Change</li>
        <p>Drag the pin <img src="/image/default-marker.png"/> to other areas</p>
        <li class="lead">Filtering</li>
        <p>Move the cursor to <i class="fa fa-bars" aria-hidden="true"></i>,
        then click an icon</p>
        <li class="lead">Details</li>
        <p>Click an icon on the map</p>
        </ul>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <div class="row">
        <div class="medium-6 columns">
          <ul class="menu float-left">
            <li class="menu-text">
              <i class="fa fa-copyright" aria-hidden="true"></i>
              2017 Yoko Harada
            </li>
          </ul>
        </div>
        <div class="medium-6 columns">
          <ul class="menu float-right">
            <li>
              <a href="https://twitter.com/yokolet">
              <i class="fa fa-twitter-square"
                 aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yokolet">
              <i class="fa fa-linkedin-square"
                 aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/yokolet">
              <i class="fa fa-github-square"
                 aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/foundation.js"></script>
    <script src="/js/lib/foundation.reveal.js"></script>
    <script src="/js/lib/knockout-3.4.1.js"></script>
    <script src="/js/app.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
