<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neighborhood Map</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/vendor/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <header>
      <div class="top-bar map-title-bar" data-top-bar>
        <div class="top-bar-right">
          <div class="menu-text map-title">City of Raleigh Crime Map
          </div>
        </div>
        <div class="top-bar-left">
          <a data-open="infoModal" href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                      title="Show Info">
            <img src="{{url_for('static', filename='image/about.png')}}"
                 alt="info">
            </span>
          </a>
        </div>
      </div>
      <div class="tiny reveal" id="infoModal" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <i class="fa fa-window-close-o" aria-hidden="true"></i>
        </button>
        <br/>
        <div class="info-modal-title">About Data</div>
        <div class="info-modal">
          <a href="https://data.raleighnc.gov/Police/Police-Crime-Incident-Data-from-Jan-1-2005-Present/csw9-dd5k">
            City of Raleigh, Open Data API, Police Crime Incident Data from Jan 1 2005 - Present
          </a>
        </div>
        <div class="info-modal-title">How to use</div>
        <div class="info-modal">
          <ul>
            <li class="lead">Show Area Info</li>
            <div>
              <ol>
                <li>Click <i class="fa fa-bars"
                             aria-hidden="true"></i></li>
                <li>Move the cursor on area names</li>
              </ol>
              Alternatively, move the cursor on markers on the map
            </div>
            <li class="lead">Filter areas</li>
            <ol>
              <li>Click <i class="fa fa-bars"
                           aria-hidden="true"></i></li>
              <li>Click Safety Filter button</li>
            </ol>
            <li class="lead">Show Crimes</li>
            <div>
              Click <img src="{{url_for('static',
                              filename='image/red-marker.png')}}"/><br/>
              Alternatively, click the area name on the list<br/>
              (Be patient <i class="fa fa-smile-o" aria-hidden="true"></i>.
              It may take a while to show up!)
            </div>
            <li class="lead">Filter Crime Category</li>
            <ol>
              <li>Click <i class="fa fa-bars" aria-hidden="true"></i></li>
              <li>Click Crime Filter button</li>
              <li>Click crime icon</li>
            </ol>
            <li class="lead">Show Details</li>
            <div>Click each crime icon on the map</div>
          </ul>
        </div>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <div class="row">
        <div class="small-4 columns">
          <div class="social-icons">
            <a href="https://twitter.com/yokolet">
              <i class="fa fa-twitter-square"
                 aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/yokolet">
              <i class="fa fa-linkedin-square"
                 aria-hidden="true"></i>
            </a>
            <a href="https://github.com/yokolet">
              <i class="fa fa-github-square"
                 aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="copyright">
            <i class="fa fa-copyright" aria-hidden="true"></i>
            2017 Yoko Harada
          </div>
        </div>
        <div class="small-4 columns">
          <div class="attribution float-right">
            Open Data API:
            <a href="http://www.opendatacommons.org/licenses/by/1.0/">
              ODC-BY 1.0 license
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='js/vendor/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/knockout-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
    <script async defer src="{{url}}"></script>
    <script src="{{url_for('static', filename='js/vendor/foundation.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/foundation.reveal.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
