{% extends "flask_base.html" %}
{% block content %}
<main>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left is-transition-push"
           id="offCanvasLeft"
           data-off-canvas
           data-position="left"
           aria-hidden="true">
        <button class="close-button float-right" aria-lebal="Close menu"
                type="button" data-close>
          <span class="close-marker" aria-hidden="true">x</span>
        </button>
        <br/><br/>
        <ul class="mobile-ofc vertical menu">
          <li>
            <div class="top-bar filter-title-bar">
              <div class="top-bar-left">
                <button data-bind="click: toggleShowSafetyLevel()"
                        class="button small float-left" type="button">
                  <span class="menu-button-face">Safety Filter</span>
                </button>
                <div data-bind="visible: shouldShowSafetyLevel()"
                     class="safety-dropdown">
                  {% for safety in safety_levels %}
                  <div class="safety-level-item"
                       data-bind="event: {
                                  mouseover: setSafetyLevel.bind($data, '{{safety['level']}}')}">
                    <i class="fa fa-square fa-2x {{safety['style']}} has-tip"
                       data-tooltip
                       aria-hidden="true"
                       aria-haspopup="true" data-disable="false"
                       title="{{safety['title']}}"></i>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="top-bar-right">
                <button data-bind="enable: getCrimeFilterButton(),
                                   click: toggleShowCrimeFilter()"
                        class="button small float-right"
                        type="button">
                  <span class="menu-button-face">Crime Filter</span>
                </button>
                <div data-bind="visible: shouldShowCrimeFilter()"
                     class="crime-dropdown">
                  {% for button in buttons %}
                  <div class="crime-filter-button">
                    <a href="#"
                       data-bind="click: setCategory.bind($data, '{{button['category']}}')">
                      <span data-tooltip aria-haspopup="true" class="has-tip"
                            title="{{button['desc']}}">
                        <img src="{{button['image']}}"/>
                      </span>
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
          <ul class="submenu menu vertical">
            <li class="submenu-title">Area List</li>
            {% for loc in locations %}
            <li data-bind="visible: shouldShowLocation({{loop.index}})"
                class="submenu-item" id="{{loc['id']}}">
              <a class="location-item" href="#"
                 data-bind="click:
                            activateCurrent.bind($data,'{{loop.index}}',
                            '{{loc['lat']}}','{{loc['lng']}}'),
                            event: { mouseover:
                            setCurrent.bind($data,'{{loop.index}}','{{loc['lat']}}','{{loc['lng']}}')}">
                {{loc['name']}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </ul>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="expended row">
          <div class="medium-6 large-6 columns">
            <button type="button" class="menu-icon dark"
                    data-toggle="offCanvasLeft" aria-expanded="false"
                    aria-controls="offCanvasLeft">
            </button>
          </div>
          <div class="medium-6 large-6 columns">
            <div class="float-right"
                 data-bind="visible: shouldShowErrorMessage()">
              <div class="callout alert">
                <span data-bind="text: getErrorMessage()"></span>
                <button class="close-button callout-alert-button"
                        data-bind="click: dismissErrorMessage()"
                        aria-label="Dismiss alert" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row expanded">
        <div class="small-12 large-12 columns">
          <div id="map" data-bind="anothermap: {mapState: mapState,
                                   centerLat: 35.845170,
                                   centerLng: -78.673948,
                                   areaname: 'center'}"></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
