{% extends "base.html" %}
{% block content %}
<script src="{{url}}"></script>
<main>
<div class="off-canvas position-left is-transition-push"
     id="offCanvasLeft"
     data-off-canvas
     data-position="left"
     aria-hidden="true">
  <button class="close-button float-right" aria-lebal="Close menu"
          type="button" data-close>
    <span class="close-marker" aria-hidden="true">x</span>
  </button>
  <br/><br/>
  <ul class="mobile-ofc vertical menu">
    <li>
      <div class="row">
        <div class="small-6 columns">
          <span class="menu-title">Location</span>
        </div>
        <div class="small-6 columns">
          <button class="button float-left" type="button"
                  data-toggle="example-dropdown">
            Filter
          </button>
          <div class="dropdown-pane" id="example-dropdown"
               data-dropdown>
            <ul class="vertical dropdown menu">
              {% for button in buttons %}
              <li>
                <a href="#"
                   data-bind="click: setCategory.bind($data, '{{button['category']}}')">
                  <span data-tooltip aria-haspopup="true" class="has-tip"
                        title="{{button['desc']}}">
                    <img src="{{button['image']}}"/>
                  </span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </li>
    <ul class="submenu menu vertical" data-submenu>
      {% for area in areas %}
      <li><a href="#"
             data-bind="click: setCenter.bind($data,
             '{{area['lat']}}', '{{area['lng']}}')">{{area['name']}}</a></li>
      {% endfor %}
    </ul>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
  <div class="expended row">
    <div class="medium-10 large-10
                columns">
      <div>
        <button type="button" class="menu-icon dark"
                data-toggle="offCanvasLeft" aria-expanded="false"
                aria-controls="offCanvasLeft">
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="small-12 columns">
      <div id="map" data-bind="map: myMap"></div>
    </div>
  </div>
</main>
{% endblock %}
