{% extends "base.html" %}
{% block content %}
<script src="{{url}}"></script>
<main>
  <div class="row">
    <div class="small-2 medium-1 float-right columns">
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <li class="map-dropdown-title">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          <ul class="menu vertical map-dropdown-menu">
            <li class="menu-text">Filters</li>
            {% for button in buttons %}
            <li>
              <a href="#"
                 data-bind="click: setCategory.bind($data, '{{button['category']}}')">
                <span data-tooltip aria-haspopup="true" class="has-tip"
                      title="{{button['desc']}}">
                  <img src="{{button['image']}}"/>
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="map" data-bind="map: myMap"></div>
    </div>
  </div>
</main>
{% endblock %}
