{% extends "base.html" %}
{% block content %}
<script src="{{url}}"></script>
<main>
    <div class="row">
    <div class="small-8 small-offset-4 columns">
      <ul class="vertical medium-horizontal menu">
        <li class="menu-text">Filters</li>
        {% for button in buttons %}
        <li>
          <a href="#"
             data-bind="click: setCategory.bind($data, '{{button['category']}}')">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="{{button['desc']}}">
              <img src="{{button['image']}}"/>
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="map" data-bind="map: myMap"></div>
    </div>
  </div>
</main>
{% endblock %}
