{% extends "base.html" %}
{% block content %}
<main>
  <div class="row">
    <div class="small-8 small-offset-4 columns">
      <ul class="vertical medium-horizontal menu">
        <li class="menu-text">Filter</li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="All">
              <img src="/image/check_all.png"/>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="Burglary, Larceny, Robbery, Theft">
              <img src="/image/thief.png"/>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="Arson">
              <img src="/image/fire.png"/>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="Assult">
              <img src="/image/action.png"/>
            </span>

          </a>
        </li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="Firearms, Shots fired, Weapons">
              <img src="/image/gun.png"/>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="Sex offense, Rape">
              <img src="/image/crying.png"/>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span data-tooltip aria-haspopup="true" class="has-tip"
                  title="Homicide, Murder">
              <img src="/image/skull.png"/>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="map"></div>
    </div>
  </div>
</main>
<script>
  function initMap() {
  var uluru = {lat: -25.363, lng: 131.044};
  var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 4,
  center: uluru
  });
  var marker = new google.maps.Marker({
  position: uluru,
  map: map,
  icon: '/image/thief.png'
  });
  }
</script>
<script async defer src="{{url}}"></script>
{% endblock %}
