{% extends "base.html" %}
{% block content %}
<main>
  <div class="row">
    <div class="small-12 columns">
      <h3>My Google Maps Demo</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="map"></div>
    </div>
  </div>
</main>
<script>
  function initSodaMap() {
  // Hartford, CT
  // var center = {lat: 41.7656874, lng: -72.680087};
  // Raleigh, NC
  // var center = {lat: 35.7796, lng: -78.6382};
  var center = {lat: 35.8572, lng: -78.7147};

    var mapOptions = {
      zoom: 15,
      center: center
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    // Construct the query string
    //url = 'https://data.ct.gov/resource/v4tt-nt9n.json?'
  //  + 'organization_type=Public%20School%20Districts';
  //url = 'https://data.raleighnc.gov/resource/emea-ai2t.json'
  url = '/api/JSON?lat=35.8572&lng=-78.7147';
  $.getJSON(url, function(data, textstatus) {
  $.each(data, function(i, entry) {
  console.log(entry);
  if (entry.position) {
  var marker = new google.maps.Marker({
                position: new google.maps.LatLng(entry.position.lat,
                                                 entry.position.lng),
                map: map,
  title: entry.title,
  });
   }
   });
   });
  }
</script>
<script async defer src="{{url}}"></script>
{% endblock %}
